html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

/* ================================================================================ */
/* globals */
/* ================================================================================ */

/* main sections takes whole page except for nav and footer */
main {
    min-height: calc(100vh - 3.5rem - 3rem);
}
.modal {
    height: 25rem;
}
[x-cloak] {
    display: none !important;
}
.res-nav {
    transition: all 0.5s ease-in-out;
    transform: translateX(-2500px);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}
.show-res-nav {
    transform: translateX(0px);
}
.hide-res-nav {
    transform: translateX(-2500px);
}
/* ================================================================================ */
/* eof globals */
/* ================================================================================ */

/* ================================================================================ */
/* home page */
/* ================================================================================ */
.section-height {
    min-height: 690px;
}
.homeSvg {
    width: 520px;
    animation: fade-in-left 1s 0.5s forwards ease-in-out;
    opacity: 0;
}

.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image1 {
    background-image: url("../images//home3.jpg");
}

/* .content-para {
    max-width: 800px;
} */
.HomeContent {
    opacity: 0;
    animation: fade-in-bottom 1s forwards ease-in-out;
}

@media (max-width: 767px) {
    .homeSvg {
        width: 320px;
    }
}

/* ================================================================================ */
/* eof home page */
/* ================================================================================ */

/* ================================================================================ */
/* Contact Us page */
/* ================================================================================ */

.circle {
    background: linear-gradient(135deg, transparent 20%, rgb(72, 118, 170));
}

.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background: rgba(96, 165, 250);
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}
.TextArea {
    min-height: 150px;
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
}

.input-container span:before,
.input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: rgba(96, 165, 250);
    top: 50%;
    transform: translateY(-50%);
}
.input-container span:before {
    left: 50%;
}

.input-container span:after {
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 20px;
    font-size: 0.9rem;
    z-index: 500;
}
.input-container.focus span:before,
.input-container.focus span:after {
    width: 50%;
    opacity: 1;
}
.contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid rgba(96, 165, 250);
    border-radius: 50%;
    bottom: -65px;
    right: 50px;
    opacity: 0.3;
}
/* responsive */
@media (max-width: 850px) {
    /* el nos dayyra */
    .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }
    /* el square */
    .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
    }
    .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
    }

    .text {
        margin: 1rem 0 1.5rem 0;
    }

    .socials {
        padding: 1.5rem 0 0 0;
    }
}
@media (max-width: 480px) {
    .contact-info:before {
        display: none;
    }
    form,
    .contact-info {
        padding: 1.7rem 1.6rem;
    }
}
/* ================================================================================ */
/* eof Contact Us page  */
/* ================================================================================ */

/* ================================================================================ */
/* slider component */
/* ================================================================================ */

.slider-section{
    height: 500px;
}

@media screen  and (max-width: 768px) {
    .slider-section{
        height: 350px;
    }
}

/* ================================================================================ */
/*eof slider component */
/* ================================================================================ */
.map-div{
    width: 454px;
    height: 400px;
    border-radius: 2%;
}
@media (max-width: 768px) {
    .map-div{
        width: 602px;
        height: 400px;
    }
   
}
#poi-marker{
    background-image: url("../images/poi.png");  background-size: cover;
    width: 20px;
    height: 20px;
}
/* animations */

@keyframes fade-in-right {
    from {
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-in-left {
    from {
        transform: translateX(50px);
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    from {
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
    }
}
